# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
tfplan
plan_output.txt

# Node / frontend
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
